<main class="isolate">
    <div class="relative isolate -z-10 overflow-hidden bg-gradient-to-b from-indigo-100/20 ">
      <div class="absolute inset-y-0 right-1/2 -z-10 -mr-96 w-[200%] origin-top-right skew-x-[-30deg] bg-white shadow-xl shadow-indigo-600/10 ring-1 ring-indigo-50 sm:-mr-80 lg:-mr-96" aria-hidden="true"></div>
      <div class="max-w-7xl mx-auto my-8 px-6 text-center flex justify-center items-center">
        <img src="../../../assets/default-logo.png"  alt="logo" width="150" />
        <div class="w-1 h-11 mx-7 bg-primary"></div>
        <h1 class="font-dancing text-3xl  text-primary font-bold">Social Media</h1>
    </div>
      <div class="mx-auto max-w-7xl px-6  lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0 lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-x-16 lg:gap-y-6 xl:grid-cols-1 xl:grid-rows-1 xl:gap-x-8">
          <h1 class="max-w-2xl text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl lg:col-span-2 xl:col-auto">
            Welcome to ENICarthage  
            <h3 class="font-dancing text-5xl text-primary font-bold">Social Media</h3>
          </h1>
          <div class="mt-6 max-w-xl lg:mt-0 xl:col-end-1 xl:row-start-1">
            <div>
                <form>
                    <div>
                        <label for="password">New Password:</label>
                        <input 
                        [(ngModel)]="password"
                        class="block p-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        type="password" id="password" name="password" required>
                    </div>
                    <div class="mt-8">
                        <label for="confirm-password">Confirm Password:</label>
                        <input
                        [(ngModel)]="confirmPassword" 
                        class="block p-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        type="password" id="confirm-password" name="confirm-password" required>
                    </div>
                </form>
            </div>
            <button (click)="reset()" class="mt-6 inline-flex items-center px-4 py-2 text-base font-medium text-white bg-primary border border-transparent rounded-md shadow-sm hover:bg-primary-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary">
                    Verify Your Account
            </button>
          </div>
          <img src="https://images.pexels.com/photos/3202235/pexels-photo-3202235.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class=" aspect-[6/5] w-full max-w-lg rounded-2xl object-cover lg:max-w-none xl:row-span-2 xl:row-end-2 ">
        </div>
      </div>
      <div class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32"></div>
    </div>

    
  </main>