<div>
    <app-sidebar></app-sidebar>
    <div class="lg:pl-72">

        <!-- Global notification live region, render this permanently at the end of the document -->
        
    
        <main class="py-10 bg-gray-100">
            <div class="mx-auto max-w-4xl">
                <div class="flex flex-shrink-0 items-center">
                    <h2 class="text-6xl font-bold font-dancing text-primary">Events</h2>
                  </div>
                
                <full-calendar [options]="calendarOptions"></full-calendar>
            </div>
    
    
    
    
          
    
    
          
        </main>
      </div>
</div>