<div>
    <app-sidebar></app-sidebar>
    <div class="lg:pl-72">

        <!-- Global notification live region, render this permanently at the end of the document -->
        
    
        <main class="py-10 bg-gray-100 min-h-screen">
            <div class="mx-auto max-w-6xl">
                    <div class="mx-auto max-w-7xl px-6 lg:px-8">
                      <div class="mx-auto max-w-2xl text-center">
                        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
                          Latest Events
                        </h2>
                        <p class="mt-2 text-lg leading-8 text-gray-600">
                          A list of all the events in Enicarthage
                        </p>
                      </div>
                      <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
                        <article *ngFor="let event of events" class="flex flex-col items-start justify-between">
                          <div class="relative w-full">
                            <img 
                            src="{{event.banner ? event.banner : '../../../../../assets/noimage.jpg'}}"
                            
                            alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover sm:aspect-[2/1] lg:aspect-[3/2]">
                            <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
                          </div>
                          <div class="max-w-xl">
                            <div class="mt-8 flex items-center gap-x-4 text-xs">
                              <time datetime="2020-03-16" class="text-gray-500">{{event.start_date}}</time>
                              <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">{{  calculateDiff(event.start_date , event.end_date) }} Days</a>
                            </div>
                            <div class="group relative">
                              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                                <a href="#">
                                  <span class="absolute inset-0"></span>
                                  {{event.name}}
                                </a>
                              </h3>
                              <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                                {{event.description}}
                              </p>
                            </div>
                            <div class="relative mt-8 flex items-center gap-x-4">
                              <img src="{{event.club.logo}}" alt="" class="h-10 w-10 rounded-full bg-gray-100">
                              <div class="text-sm leading-6">
                                <p class="font-semibold text-gray-900">
                                  <a href="#">
                                    <span class="absolute inset-0"></span>
                                    {{event.club.name}}
                                  </a>
                                </p>
                              </div>
                            </div>
                          </div>
                        </article>
                  
                        <!-- More posts... -->
                      </div>
                    </div>
                  </div>
                  
        </main>
      </div>
</div>