/* User Administration Component Styles */
.user-admin-container {
    font-family: 'Montserrat', sans-serif; /* Secondary font for body */
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .user-admin-container h2 {
    font-family: 'Roca One', sans-serif; /* Title font */
    color: #000; /* Black color for titles */
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-admin-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .user-admin-container th,
  .user-admin-container td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }
  
  .user-admin-container th {
    background-color: #003366; /* Dark blue color for table headers */
    color: #fff; /* White color for text in table headers */
  }
  
  .user-admin-container tr:hover {
    background-color: #f1f1f1;
  }
  
  .user-admin-container button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #006699; /* Light blue color for buttons */
    color: white;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .user-admin-container button:hover {
    background-color: #005577; /* Slightly darker blue for button hover state */
  }
  
  .user-admin-container .delete-button {
    background-color: #d9534f;
  }
  
  .user-admin-container .delete-button:hover {
    background-color: #c9302c;
  }
  
  .user-admin-container .edit-button {
    background-color: #f0ad4e;
  }
  
  .user-admin-container .edit-button:hover {
    background-color: #ec971f;
  }
  