<!-- user-admin.component.html -->
<div class="user-admin-container">
    <h2>User Administration</h2>
  
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>birthDate</th>
          <th>Email</th>
          <th>type</th>
          <th>field</th>
          <!-- Add other columns as needed -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.birthDate }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.type}}</td>
          <td>{{ user.field}}</td>
          <!-- Add other columns as needed -->
        </tr>
      </tbody>
    </table>
</div>

 
