<div class="relative h-screen heropattern-topography-slate-50">
    
    <div class="relative  flex h-screen items-center justify-center px-4 py-12 sm:px-6 lg:px-8">
        <div class="w-full max-w-sm space-y-10">
            <div>
                <img class="mx-auto h-36 w-auto" src="../../assets/default-logo.png" alt="Your Company">
                <h1 class="text-center text-6xl font-dancing font-bold leading-9 tracking-tight text-primary">Social Media</h1>
                <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your
                    account</h2>
            </div>
            <form class="space-y-6" action="#" method="POST">
                <div class="relative -space-y-px rounded-md shadow-sm">

                    <div>
                        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email</label>
                        <div class="mt-2">
                            <input
                                [(ngModel)]="email"
                                id="email" name="email" type="email" required
                                class="block p-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                placeholder="you@example.com" aria-describedby="email-description">
                        </div>
                    </div>
                    <div>
                        <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                        <div class="mt-2">
                            <input 
                                [(ngModel)]="password"
                                type="password"
                                name="password"
                                class="block p-2 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                                placeholder="Enter your password" aria-describedby="password-description">
                        </div>
                    </div>

                </div>

                <div class="flex items-center justify-between">
                    <div>
                        
                    </div>

                    <div class="text-sm leading-6">
                        <a href="#" class="font-semibold text-primbg-primary hover:text-blue-900">Forgot password?</a>
                    </div>
                </div>

                <div>
                    <button type="submit"
                        (click)="login()"
                        class="flex w-full justify-center rounded-md bg-primary px-3 py-1.5 text-sm font-semibold leading-6 text-white hover:bg-blue-900 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primbg-primary">Sign
                        in</button>
                </div>
            </form>

            <p class="text-center text-sm leading-6 text-gray-500">
                Not a member?
                <a [routerLink]="['/register']" routerLinkActive="router-link-active"  class="font-semibold text-primary hover:text-blue-900">
                    Sign up now
                </a>
            </p>
        </div>
    </div>

</div>