<app-navbar></app-navbar>


<app-add-user *ngIf="addUserModal" (closeModal)="toggleAddUserModal(false)" (addUserSuccess)="getAllUsers()"></app-add-user>


<div class="px-4 sm:px-6 max-w-7xl mx-auto mt-8 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-gray-900">Users</h1>
        <p class="mt-2 text-sm text-gray-700">A list of all the users in your account including their name, title, email and role.</p>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <button (click)="toggleAddUserModal(true)" type="button" class="block rounded-md bg-primary px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-primary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary">Add user</button>
      </div>
    </div>
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle">
          <table class="min-w-full border-separate border-spacing-0">
            <thead>
              <tr>
                <th scope="col" class="top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:pl-6 lg:pl-8">Name</th>
                <th scope="col" class="top-0 z-10 hidden border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter sm:table-cell">Title</th>
                <th scope="col" class="top-0 z-10 hidden border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter lg:table-cell">Email</th>
                <th scope="col" class="top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 px-3 py-3.5 text-left text-sm font-semibold text-gray-900 backdrop-blur backdrop-filter">Role</th>
                <th scope="col" class="top-0 z-10 border-b border-gray-300 bg-white bg-opacity-75 py-3.5 pl-3 pr-4 backdrop-blur backdrop-filter sm:pr-6 lg:pr-8">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td class="whitespace-nowrap border-b border-gray-200 py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8">{{user.firstName}} {{user.lastName}}</td>
                <td class="whitespace-nowrap border-b border-gray-200 hidden px-3 py-4 text-sm text-gray-500 sm:table-cell">{{user.email}}</td>
                <td class="whitespace-nowrap border-b border-gray-200 hidden px-3 py-4 text-sm text-gray-500 lg:table-cell">{{user.field.name}}</td>
                <td class="whitespace-nowrap border-b border-gray-200 px-3 py-4 text-sm text-gray-500">
                    <span *ngIf="user.role == 'STUDENT'" class="inline-flex items-center rounded-full bg-green-100 px-2 py-1 text-xs font-medium text-green-600">Student</span>
                    <span *ngIf="user.role == 'ADMIN'" class="inline-flex items-center rounded-full bg-red-100 px-2 py-1 text-xs font-medium text-red-600">Admin</span>
                </td>
                <td class="relative whitespace-nowrap border-b border-gray-200 py-4 pr-4 pl-3 text-right text-sm font-medium sm:pr-8 lg:pr-8">
                  <a 
                  [routerLink]="['/admin/user/edit', user.id]"
                  class="text-primary hover:text-primary mr-2">Edit</a>
                  <a  (click)="toggleDeleteUserModal(user.id)"
                  class="text-red-500 hover:text-red-800 ml-2">Delete</a>

                  <app-delete-user [user]="user" *ngIf="deleteUserModal == user.id" (closeModal)="toggleDeleteUserModal(0)" (deleteUserSuccess)="getAllUsers()"></app-delete-user>
                </td>
              </tr>
  
              <!-- More people... -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
  