@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
* {
  font-family: 'Montserrat', sans-serif;
}


.font-dancing {
  font-family: 'Dancing Script', cursive;
}

.toast-container{
    white-space: pre;
}

.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 10s ease infinite alternate;
  -moz-animation: animatedgradient 10s ease infinite alternate;
  animation: animatedgradient 10s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

.background-animate {
  background-size: 400%;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@keyframes AnimationName {

  0%,
  100% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }
}
